:root
{
	--white: #e4e4e4;
	--gray: #626262;
	--black: #111111;
	--beige: #e7e4e0;
	--neon: #fafd05;
	--lightgreen: #b8f160;

	--darkgray: #232323;
	--gold: #ccb400;



	/* Ocean Sunset */
	--midnight: #001427;
	--sea: #708d81;
	--sand: #f4d58d;
	--sunset: #bf0603;
	--sun: #8d0801;

	--bg: var(--black);
	--bg-op: var(--darkgray);
	--txt: var(--white);
	--txt-special: var(--gold);
	--txt-middle: var(--white);
	--txt-end: var(--midnight);
}


html
{
	scroll-behavior: smooth;
	background-color: var(--bg);
}

body
{
	margin: 0;
	font-family: sans-serif;
	background: var(--bg);
	color: var(--txt);
}

section
{
	min-height: 100vh;
	padding: 4rem;
	box-sizing: border-box;
}