<footer class="footer">
	<a href="https://portfolio.ravijey.com">RajvigneshJeyaram</a>
	<a href="https://twitter.com/yourname">Twitter</a>
	<a href="https://your-other-domain.com">Other Site</a>
  </footer>