<footer class="footer">
	<h1 class="raj">Raj</h1>
	<h1 class="jeyaram">Jeyaram</h1>
	<!--a href="https://portfolio.ravijey.com">RajvigneshJeyaram</a-->
	<!--a href="https://twitter.com/yourname">Twitter</a-->
	<!--a href="https://your-other-domain.com">Other Site</a-->
  </footer>

<style>	
	.footer
	{
		min-height: 50vh;
		display: flex;
		gap: 2rem;
		align-items: left;
		justify-content: left;
		background: var(--bg-op);

		
	}
	.footer h1
	{
		font-family: var(--font-melo);
		font-size: 20em;
		margin: 0;
		padding: 0;
	}

</style>