<section class="hero">
	<div>
	<!--p>Page loaded in: <span id="load-time">0</span> ms</p-->
	  <h1 class="raj">Raj</h1>
	  <h1 class="jeyaram">Jeyaram</h1>
	  <p>Vigilance. Courage. Wings.</p>
	</div>
  </section>

<style>
	.hero
	{
		font-family: var(--font-anton);
		background: radial-gradient(circle at 5% 5%, var(--radial-inner) 10%, var(--radial-middle) 30%, var(--radial-outer) 100%);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		height: 100vh;
	}

	.hero h1
	{
		font-size: 20rem;
		margin-bottom: 0;

		background: linear-gradient(160deg, var(--txt) 0%, var(--txt-middle) 30%, var(--txt-end) 80%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.raj{
		margin-top: 0.03em;
	}

	.jeyaram{
		margin-top: -0.5em;
	}

	.hero p
	{
		background: linear-gradient(160deg, var(--txt) 10%, var(--txt-middle) 20%, var(--txt-middle) 100%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		font-size: 1.5rem;
		/*color: var(--txt);*/
	}
</style>

<script>
	window.addEventListener('load', () => {
		// Get the first navigation entry
		const navigation = performance.getEntriesByType('navigation')[0] as PerformanceNavigationTiming;
	
		// Calculate total load time
		const loadTime = navigation
			? navigation.loadEventEnd.toFixed(2)
			: '0';
	
		// Display result
		document.getElementById('load-time')!.textContent = loadTime;
	});
	</script>

